#container {
  background-color: darkslategrey;
}
#display-screen {
  background-color: black;
  color: green;
  text-align: end;
  height: 50px;
  font-size: 36px;
  align-items: center;
}
#keypad {
  display: flex;
  flex-direction: column-reverse;
}
#operatorPad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  padding: 5px;
  gap: 5px;
}
#numberpad {
  background-color: slategray;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  padding: 5px;
  height: 300px;
}
#resultContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  padding: 2px;
  gap: 5px;
}

button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 1px;
}
.operator {
  padding: 5px;
}
