#container {
  background-color: darkslategrey;
}
#display-screen {
  background-color: black;
  color: green;
  text-align: center;
}
#keypad {
  background-color: slategray;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  padding: 5px;
}
