#container {
  background-color: darkslategrey;
}
#display-screen {
  background-color: black;
  color: green;
  text-align: end;
  height: 50px;
  font-size: 36px;
}
#keypad {
  display: flex;
  flex-direction: column;
}
#numberpad {
  background-color: slategray;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  padding: 5px;
  height: 300px;
}

button {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 1px;
}
